{embed="includes/.header"}
{embed="includes/.main_nav"}
{!-- {embed="includes/.breadcrumbs"} --}
<article class="small-18 small-offset-1 columns">
{if segment_2 != "category"}
	{!-- If no category has been selected, display parent categories --}
	{exp:channel:categories channel="knowledge_base" parent_only="yes"}
			<a href="{path='tdec-library'}">{category_name}</a>
			<p>{category_description}</p>
	{/exp:channel:categories}
	
{if:else}
	{!-- If we are in a child category, display entries --}
	{exp:channel:entries channel="knowledge_base" orderby="title" sort="asc"}
		{if count == total_results}
			{!-- If it is the last entry, give it the end class --}
			<section class="small-5 columns end">
		{if:else}
			{!-- Otherwise, don't --}
			<section class="small-5 columns">
		{/if}
			<h3><a href="{path='tdec-library/entry/{url_title}'}">{title}</a></h3>
			<p>{kb_summary}</p>
		</section>
	{/exp:channel:entries}
{/if}
</article>

{embed="includes/.footer"}