<!-- Styleguide Index -->

<!DOCTYPE html>
<html>

<head>
	<title>TDEC Intranet Styleguide</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Roboto+Slab:400,700' rel='stylesheet' />
	<link rel='stylesheet' href="http://intranet-dev.mindmattercreative.com/assets/css/styles.min.css" />
</head>

<body class="styleguide">
<!-- Primary Colors -->
	<section>
		<h2 class="section-title">Primary Colors</h2>
		<ul class="small-block-grid-4">
			<li class="pattern">
				<div class="colorbox bg-light-blue"></div>
				<h3 class="pattern-title">Light Blue</h3>
				<p>Hex: #2dccd3</p>
			</li>
			
			<li class="pattern">
				<div class="colorbox bg-light-green"></div>
				<h3 class="pattern-title">Light Green</h3>
				<p>Hex: #d2d755</p>
			</li>
		</ul>
	</section>

	<!-- Secondary Colors -->
	<section>
		<h2 class="section-title">Secondary Colors</h2>
		<ul class="small-block-grid-4">
			<li class="pattern">
				<div class="colorbox bg-navy"></div>
				<h3 class="pattern-title">Navy</h3>
				<p>Hex: #1b365d</p>
			</li>
			
			<li class="pattern">
				<div class="colorbox bg-orange"></div>
				<h3 class="pattern-title">Orange</h3>
				<p>Hex: #e87722</p>
			</li>
			
			<li class="pattern">
				<div class="colorbox bg-dark-teal"></div>
				<h3 class="pattern-title">Dark Teal</h3>
				<p>Hex: #5d7975</p>
			</li>
			
			<li class="pattern">
				<div class="colorbox bg-teal"></div>
				<h3 class="pattern-title">Teal</h3>
				<p>Hex: #008C8C</p>
			</li>
			
			<li class="pattern">
				<div class="colorbox bg-dark-grey"></div>
				<h3 class="pattern-title">Dark Grey</h3>
				<p>Hex: #333</p>
			</li>

			<li class="pattern">
				<div class="colorbox bg-medium-grey"></div>
				<h3 class="pattern-title">Medium Grey</h3>
				<p>Hex: </p>
			</li>

			<li class="pattern">
				<div class="colorbox bg-light-grey"></div>
				<h3 class="pattern-title">Light Grey</h3>
				<p>Hex: </p>
			</li>
		</ul>
	</section>

	<!-- Headings -->
	<section>
	    <h2 class="section-title">Headings</h2>  
	 
	    <div class="pattern">
	        <h3 class="pattern-title">Heading 1</h3>
	        <div class="pattern-preview">
	            <h1>This is an example of an H1</h1>
	       </div>
	    </div>
	 
	    <div class="pattern">
	        <h3 class="pattern-title">Heading 2</h3>
	        <div class="pattern-preview">
	            <h2>This is an example of an H2</h2>
	        </div>
	    </div>
	    
	    <div class="pattern">
	        <h3 class="pattern-title">Heading 3</h3>
	        <div class="pattern-preview">
	            <h3>This is an example of an H3</h3>
	        </div>
	    </div>
	    
	    <div class="pattern">
	        <h3 class="pattern-title">Heading 4</h3>
	        <div class="pattern-preview">
	            <h4>This is an example of an H4</h4>
	        </div>
	    </div>
	    
	    <div class="pattern">
	        <h3 class="pattern-title">Heading 5</h3>
	        <div class="pattern-preview">
	            <h5>This is an example of an H5</h5>
	        </div>
	    </div>
	    
	    <div class="pattern">
	        <h3 class="pattern-title">Heading 6</h3>
	        <div class="pattern-preview">
	            <h6>This is an example of an H6</h6>
	        </div>
	    </div>
	</section>

	<!-- Links -->
	<section>
		<h2 class="section-title">Links</h2>
		
		<div class="pattern">
			<h3 class="pattern-title">Buttons</h3>
			<h4 class="sub-pattern-title">Default</h4>
			<button>Learn More</button>
			<a class="button" href="#">Learn More</a>
			<input class="button" type="submit">

			<h4 class="sub-pattern-title">Light Blue</h4>
			<button class="button-light-blue">Learn More</button>
			<a class="button-light-blue" href="#">Learn More</a>
			<input class="button-light-blue" type="submit">

			<h4 class="sub-pattern-title">Orange</h4>
			<button class="button-orange">Learn More</button>
			<a class="button-orange" href="#">Learn More</a>
			<input class="button-orange" type="submit">

			<h4 class="sub-pattern-title">Teal</h4>
			<button class="button-teal">Learn More</button>
			<a class="button-teal" href="#">Learn More</a>
			<input class="button-teal" type="submit">

		</div>
		
		<div class="pattern">
			<h3 class="pattern-title">Inline Link</h3>
			<p>
				This is an example of
				<a href="#">an inline link</a>
				.
			</p>
		</div>
		
		<div class="pattern">
			<h3 class="pattern-title">Stand-alone Link</h3>
			<a href="#">View Upcoming Events</a>
		</div>
	</section>

	<!-- Text Elements -->
	<section>
		<h2 class="section-title">Text Elements</h2>
		
		<div class="pattern">
			<h3 class="pattern-title">Paragraph</h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
	    
	        <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>
	    
	        <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede, ornare a, lacinia eu, vulputate vel, nisl.</p>
		</div>
		
		<div class="pattern">
			<h3 class="pattern-title">Unordered List</h3>
			<ul>
	            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	            <li>Aliquam tincidunt mauris eu risus.</li>
	            <li>Vestibulum auctor dapibus neque.</li>
	            <li>Nunc dignissim risus id metus.</li>
	            <li>Cras ornare tristique elit.</li>
	        </ul>
	    </div>
		
		<div class="pattern">
			<h3 class="pattern-title">Ordered List</h3>
			<ol>
	            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	            <li>Aliquam tincidunt mauris eu risus.</li>
	            <li>Vestibulum auctor dapibus neque.</li>
	            <li>Nunc dignissim risus id metus.</li>
	            <li>Cras ornare tristique elit.</li>
	        </ol>
		</div>
		
		<div class="pattern">
			<h3 class="pattern-title">Block Quote</h3>
			<blockquote>
	            Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.
	        </blockquote>

	        <h3 class="pattern-title">Pull Quote</h3>
			<blockquote class="pull-quote">
	            Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. 
	        </blockquote>
		</div>
		
		<h3 class="pattern-title">Inline Quote</h3>
			<q>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue.</q>
		</div>

		<div class="pattern">
			<h3 class="pattern-title">Abbreviation</h3>
			<p><abbr title='Tennessee Department of Environment and Conservation'>TDEC</abbr> is an abbreviation for the Tennessee Department of Environment &amp; Conservation.</p>
		</div>
		
		<div class="pattern">
			<h3 class="pattern-title">Address</h3>
			<p><address>Please contact us at <a href="#">ask.tnstateparks@tn.gov</a></address></p>
		</div>

		<div class="pattern">
			<h3 class="pattern-title">Emphasis</h3>
			<p>Tennessee State Parks is full of <em>Fun and Adventure, Naturally.</em></p>
		</div>
		
		<div class="pattern">
			<h3 class="pattern-title">Strong</h3>
			<p>Tennessee State Parks is full of <strong>Fun and Adventure, Naturally.</strong></p>
	    </div>
		
		<div class="pattern">
			<h3 class="pattern-title">Italic</h3>
			<p><i>Regular italic</i> is used when we want something <i>italisized</i> but it has no semantic meaning.</p>
		</div>
		
		<div class="pattern">
			<h3 class="pattern-title">Bold</h3>
			<p><b>Bold</b> is similar to italic where we want something to be <b>bold for an aesthetic reason</b>.</p>
		</div>
		
		<div class="pattern">
			<h3 class="pattern-title">Small</h3>
			<small>Small text for disclaimers, details, sidenotes and such.</small>
		</div>
		
		<div class="pattern">
			<h3 class="pattern-title">Delete</h3>
			<p>The delete tags allow us to semantically <del>delete or</del> strikethrough text while allowing users to see the change.</p>
		</div>
	</section>


	<!-- Tables -->
	<section>
		<h2 class="section-title">Tables</h2>
		
		<div class="pattern">
			<table>
			    <thead>
			        <tr>
			            <th colspan="2">Programs</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <th>Fellowship</th>
			            <td>$2,733,782</td>
			        </tr>
			        <tr>
			            <th>Brigade</th>
			            <td>$286,257</td>
			        </tr>
			        <tr>
			            <th>Accelerator</th>
			            <td>$280,896</td>
			        </tr>
			        <tr>
			            <th>Civic Commons &amp; Peer Network</th>
			            <td>$324,140</td>
			        </tr>
			    </tbody>
			</table>
			
			<table>
			    <tbody>
			        <tr>
			            <th>Total Programs</th>
			            <td>$3,625,075</td>
			        </tr>
			        <tr>
			            <th>Administration</th>
			            <td>$226,648</td>
			        </tr>
			        <tr>
			            <th>Fundraising</th>
			            <td>$153,504</td>
			        </tr>
			    <tfoot>
			        <tr>
			            <th>Total Expenses</th>
			            <td>$4,005,227</td>
			        </tr>
			    </tfoot>
			</table>
		</div>
	</section>

	<!-- Login Form -->
	<section>
		<h2 class="section-title">Login Form</h2>
		
		<div class="pattern">
			<p>
		    	<label>Username</label><br>
				<input type="text" name="username" value="" maxlength="32" size="25">
			</p>
			<p>
				<label>Password</label><br>
				<input type="password" name="password" value="" maxlength="32" size="25">
			</p>
			<p><input type="checkbox" name="auto_login" value="1"> Auto-login on future visits</p>
			
			<p><input type="checkbox" name="anon" value="1" checked="checked"> Show my name in the online users list</p>
			<p><input type="submit" name="submit" value="Submit"></p>
			<p><a href="{path='member/forgot_password'}">Forgot your password?</a></p>
		</div>
	</section>

	<!-- Search Form -->
	<section>
		<h2 class="section-title">Search Form</h2>
		
		<div class="pattern">
			<fieldset class="search">
				<input class="search-box small-20 columns" type="search" name="keywords" id="keywords" placeholder="Search the Intranet" />
				<button class="search-button small-4 columns" type="submit">Search</button>
			</fieldset>
		</div>
	</section>

	<!-- Header -->
	<section>
		<h2 class="section-title">Header</h2>
		
		<div class="pattern">
			<header>
				<hgroup class="logo-area small-8 columns">
					<h1 class="main-logo">Tennessee Department of Environment and Conservation</h1>
					<h2 class="subheading">Environment and Conservation <span>Department Intranet</span></h2>
				</hgroup>

				<nav class="small-3 small-offset-4 columns">
					<ul class="quicklinks">
						<li>Quick Links
							<ul class="dropmenu quicklinks-drop">
								<li><a href="http://mail.tn.gov">Webmail</a></li>
								<li><a href="http://www.edison.tn.gov">Edison</a></li>
								<li><a href="http://tn.gov/environment">TDEC Homepage</a></li>
								<li><a href="http://google.com">Google</a></li>
							</ul>
						</li>
					</ul>
				</nav>
				
				<fieldset class="search small-8 columns">
					<input class="search-box small-20 columns" type="search" name="keywords" id="keywords" placeholder="Search the Intranet" />
					<button class="search-button small-4 columns" type="submit">Search</button>
				</fieldset>
			</header>
		</div>
	</section>

	<!-- Footer -->
	<section>
		<h2 class="section-title">Footer</h2>
		
		<div class="pattern">
			<footer>
				<div class="row">
					<p class="small-20 column"><small>Copyright &copy; 2014 Tennessee Department of Environment and Conservation. <br/>
					Designed and built by TDEC's Digital Media team.</small></p>
					<h1 class="footer-logo small-4 column">Tennessee Department of Environment and Conservation</h1>
				</div>
			</footer>
		</div>
	</section>
	
	<!-- Events by Month -->
	<section>		
		<h2 class="section-title">Events by Month</h2>
		<div class="pattern">
			<ul>
				<li><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2010/01/">January, 2010</a></li>
				<li><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2010/02/">February, 2010</a></li>
				<li><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2010/03/">March, 2010</a></li>
				<li><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2010/04/">April, 2010</a></li>
				<li><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2010/05/">May, 2010</a></li>
				<li><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2010/06/">June, 2010</a></li>
				<li><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2010/07/">July, 2010</a></li>
				<li><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2010/08/">August, 2010</a></li>
				<li><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2010/09/">September, 2010</a></li>
				<li><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2010/10/">October, 2010</a></li>
				<li><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2010/11/">November, 2010</a></li>
				<li><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2010/12/">December, 2010</a></li>
				<li><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2011/01/">January, 2011</a></li>
				<li><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2011/02/">February, 2011</a></li>
				<li><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2011/03/">March, 2011</a></li>
				<li><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2011/04/">April, 2011</a></li>
				<li><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2011/05/">May, 2011</a></li>
				<li><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2011/06/">June, 2011</a></li>
			</ul>
		</div>
	</section>

<!-- 	Events by Calendar -->
	<section>
		<h2 class="section-title">Events by Calendar</h2>
		<div class="pattern">
			<ul>
				<li><b style="padding-top:5px;line-height:25px;"><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/calendars/intranet-calendar/">Intranet Calendar</a></b>
					<ul>
						<li>View by: <a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/by_calendar/intranet-calendar/">Month</a> | <a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/week/by_calendar/intranet-calendar/">Week</a> | <a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/by_calendar/intranet-calendar/">Day</a></li>
						<li>Upcoming Events:</li>
					</ul>
					<ul>
						<li>No events could be found within the specified time range for this Calendar.</li>
					</ul>
				</li>
			</ul>
		</div>
	</section>		
	
<!-- Calendar Month View	 -->
	<section>
		<h2 class="section-title">Month View</h2>
			<div class="pattern">

				<div id="fc_legend"><span class="legend">LEGEND:</span>
					<div class="event multi_day first_day"><a href="#">Multi-Day Event</a></div>
					<div class="event all_day first_day last_day">All Day Event</div>
					<div class="event">1pm <a href="#">Regular Event</a></div>
				</div>
				<hr>
				<div id="fc_calendar">
				   <table id="fc_outer">
				         <thead>
				            <tr id="month_year">
				               <th colspan="2" class="left">« <a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2014/10/">October</a></th>
				               <th colspan="3" class="center">November 2014 (0 events)</th>
				               <th colspan="2" class="right"><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/month/2014/12/">December</a> »</th>
				            </tr>
				         </thead>
				         <tbody>
				            <tr>
				               <td colspan="7">
				                  <div class="wrap">
				                  <table id="fc_inner">
				                     <thead>
				                        <tr id="days_of_week">
				                           <th class="day_of_week Sunday">Sunday</th>
				                           <th class="day_of_week Monday">Monday</th>
				                           <th class="day_of_week Tuesday">Tuesday</th>
				                           <th class="day_of_week Wednesday">Wednesday</th>
				                           <th class="day_of_week Thursday">Thursday</th>
				                           <th class="day_of_week Friday">Friday</th>
				                           <th class="day_of_week Saturday">Saturday</th>
				                        </tr>
				                     </thead>
				                     <tbody>
				                        <tr>
				                        	<td class="day_cell out_of_range"><div class="date"><span class="num">26</span></div></td>
				                        	<td class="day_cell out_of_range"><div class="date"><span class="num">27</span></div></td>
				                        	<td class="day_cell out_of_range"><div class="date"><span class="num">28</span></div></td>
				                        	<td class="day_cell out_of_range"><div class="date"><span class="num">29</span></div></td>
				                        	<td class="day_cell out_of_range"><div class="date"><span class="num">30</span></div></td>
				                        	<td class="day_cell out_of_range"><div class="date"><span class="num">31</span></div></td>
				                        	<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/01/">1</a></div></td>
				                        </tr>
										<tr>
				                        	<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/02/">2</a></div></td>
				                        	<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/03/">3</a></div></td>
				                        	<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/04/">4</a></div></td>
				                        	<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/05/">5</a></div></td>
				                        	<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/06/">6</a></div></td>
				                        	<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/07/">7</a></div></td>
				                        	<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/08/">8</a></div></td>
				                        </tr>
										<tr>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/09/">9</a></div></td>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/10/">10</a></div></td>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/11/">11</a></div></td>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/12/">12</a></div></td>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/13/">13</a></div></td>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/14/">14</a></div></td>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/15/">15</a></div></td>
				                        </tr>
										<tr>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/16/">16</a></div></td>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/17/">17</a></div></td>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/18/">18</a></div></td>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/19/">19</a></div></td>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/20/">20</a></div></td>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/21/">21</a></div></td>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/22/">22</a></div></td>
				                        </tr>
										<tr>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/23/">23</a></div></td>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/24/">24</a></div></td>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/25/">25</a></div></td>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/26/">26</a></div></td>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/27/">27</a></div></td>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/28/">28</a></div></td>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/29/">29</a></div></td>
				                        </tr>
										<tr>
											<td class="day_cell"><div class="date"><a class="num" href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/30/">30</a></div></td>
											<td class="day_cell out_of_range"><div class="date"><span class="num">1</span></div></td>
											<td class="day_cell out_of_range"><div class="date"><span class="num">2</span></div></td>
											<td class="day_cell out_of_range"><div class="date"><span class="num">3</span></div></td>
											<td class="day_cell out_of_range"><div class="date"><span class="num">4</span></div></td>
											<td class="day_cell out_of_range"><div class="date"><span class="num">5</span></div></td>
											<td class="day_cell out_of_range"><div class="date"><span class="num">6</span></div></td>
				                        </tr>
				                     </tbody>
				                  </table>
				               </div>
				            </td>
				         </tr>
				      </tbody>
				    </table>				
				</div> 
			</div>
	</section>			

<!-- Calendar Week View -->
	<section>
		<h2 class="section-title">Week View</h2>
		<div class="pattern">
			
			<div id="wc_calendar">
				<div class="header">
			      <div class="left">
			         <a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/week/2014/11/16/">Last Week</a>
			      </div>
			      
			      <div class="center">
			         <h2>Week of Sunday, November 23, 2014<br><span>(0 events)</span></h2>
			      </div>
			      
			      <div class="right">
			         <a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/week/2014/11/30/">Next Week</a>
			      </div>
			      <hr>
				</div>
				
			    <div class="day">
			      <h4><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/23/">Sunday, November 23, 2014</a><span> (0 events)</span></h4>
			      <ul>
			      	<li>No events for this day.</li>
			      </ul>
			    </div>
			    
			    <div class="day">
			      <h4><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/24/">Monday, November 24, 2014</a><span> (0 events)</span></h4>
			      <ul>
			      	<li>No events for this day.</li>
			      </ul>
			    </div>
			    
			    <div class="day">
			      <h4><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/25/">Tuesday, November 25, 2014</a><span> (0 events)</span></h4>
			      <ul>
			      	<li>No events for this day.</li>
			      </ul>
			    </div>
			    
			    <div class="day">
			      <h4><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/26/">Wednesday, November 26, 2014</a><span> (0 events)</span></h4>
			      <ul>
			      	<li>No events for this day.</li>
			      </ul>
			    </div>
			    
			    <div class="day">
			      <h4><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/27/">Thursday, November 27, 2014</a><span> (0 events)</span></h4>
			      <ul>
			      	<li>No events for this day.</li>
			      </ul>
			    </div>
			    
			    <div class="day">
			      <h4><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/28/">Friday, November 28, 2014</a><span> (0 events)</span></h4>
			      <ul>
			      	<li>No events for this day.</li>
			      </ul>
			    </div>
			    
			    <div class="day">
			      <h4><a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/29/">Saturday, November 29, 2014</a><span> (0 events)</span></h4>
			      <ul>
			      	<li>No events for this day.</li>
			      </ul>
			   </div>
			
			</div> 	
		</div>
	</section>
	
<!-- 	Calendar Day View -->
	<section>
		<h2 class="section-title">Day View</h2>
		<div class="pattern">

			<div id="dc_calendar">
			
			<div class="header">
			      <div class="left">
			         <a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/23/">Yesterday</a>
			      </div>
			      <div class="center">
			         <h2>Monday, November 24, 2014 <span>(0 events)</span></h2>
			      </div>
			      <div class="right">
			         <a href="http://intranet-dev.mindmattercreative.com/index.php/calendar_main/day/2014/11/25/">Tomorrow</a>
			      </div>
			      <hr>
			   </div>
			   <h4 class="thickline">12 am <span>(no events )</span></h4>
			   <h4>1 am <span>(no events )</span></h4>
			   <h4>2 am <span>(no events )</span></h4>
			   <h4>3 am <span>(no events )</span></h4>
			   <h4>4 am <span>(no events )</span></h4>
			   <h4>5 am <span>(no events )</span></h4>
			   <h4>6 am <span>(no events )</span></h4>
			   <h4>7 am <span>(no events )</span></h4>
			   <h4>8 am <span>(no events )</span></h4>
			   <h4>9 am <span>(no events )</span></h4>
			   <h4>10 am <span>(no events )</span></h4>
			   <h4>11 am <span>(no events )</span></h4>
			   <h4>12 pm <span>(no events )</span></h4>
			   <h4>1 pm <span>(no events )</span></h4>
			   <h4>2 pm <span>(no events )</span></h4>
			   <h4>3 pm <span>(no events )</span></h4>
			   <h4>4 pm <span>(no events )</span></h4>
			   <h4>5 pm <span>(no events )</span></h4>
			   <h4>6 pm <span>(no events )</span></h4>
			   <h4>7 pm <span>(no events )</span></h4>
			   <h4>8 pm <span>(no events )</span></h4>
			   <h4>9 pm <span>(no events )</span></h4>
			   <h4>10 pm <span>(no events )</span></h4>
			   <h4>11 pm <span>(no events )</span></h4>
			</div> 
		</div>
	</section>
</body>

</html>