{embed="includes/.header"}
{embed="includes/.main_nav"}

<article class="small-20 columns">
	{if logged_in}
		<h1>TDEC Daily News Summary</h1>
		{exp:calendar:events category="tdec-daily-news-summary"}
		<h2>{title}</h2>
		<p>{event_summary}</p>
		{/exp:calendar:events} 
	{/if}
	{if logged_out}
	  Are you a member? Please <a href="{path='member/login'}">log-in</a>.<br>
	  Not a member? <a href="{path='member/register'}">Register</a>.<br>
	  Have you <a href="{path='member/forgot'}">forgotten your password</a>?
	
	{exp:member:login_form return="frontpage"}
	  <p>
	    <label>Username</label><br>
	    <input type="text" name="username" value="" maxlength="32" size="25">
	  </p>
	  <p>
	    <label>Password</label><br>
	    <input type="password" name="password" value="" maxlength="32" size="25">
	  </p>
	  {if auto_login}
	    <p><input type="checkbox" name="auto_login" value="1"> Auto-login on future visits</p>
	  {/if}
	
	  <p><input type="checkbox" name="anon" value="1" checked="checked"> Show my name in the online users list</p>
	  <p><input type="submit" name="submit" value="Submit"></p>
	  <p><a href="{path='member/forgot_password'}">Forgot your password?</a></p>
	  <p><a href="{path='member/profile'}">View your profile.</a></p>
	{/exp:member:login_form}
	{/if}
	
	<p>View <a href="{path='mockups'}">Content Mockups</a></p>
</article>
{embed="includes/.footer"}