{embed="includes/.header"}
{embed="includes/.main_nav"}
{embed="includes/.breadcrumbs"}
		
			<article class="small-16 columns">
				<h1>Volunteers Needed for Urban Runoff 5k</h1>
				<h4>Kelly Brockman | Sept.23, 20014 | <a href="">General</a></h4>
				
				<img src="" alt="runners">
				<p>Lorem ipsum dolor sit amet, te est graeco deseruisse, meliore petentium mei cu, his facete epicuri cu. Adhuc vocent sea id, pertinax euripidis torquatos ne eam. Te modus noluisse fabellas quo, eum cu sint tation inciderint. Et vim munere eirmod facilis, numquam blandit splendide ad his. Est an tibique neglegentur, mei dicant aliquando scribentur ex. Dolore quaeque dissentias ex usu, no ius suas graeci sanctus.</p>
				<p>Mei ex lobortis invenire appellantur, ea nec velit comprehensam, ei laboramus vituperata ullamcorper eos. Graeco repudiare iracundia no quo. Eos no justo iriure. Consectetuer necessitatibus nam eu, quo eu enim oratio verear. Et quot quando causae eum, id natum tollit dicunt eos. Ius ne prima viderer gloriatur.</p>
				<p>An vim meliore percipitur, id quas labore sed. Enim recteque mea no, exerci mentitum apeirian ei mea, eu dicant dolorem ius. Ignota probatus mea te. Pri no ridens vivendo, nam ne mucius tritani. An est option maiorum.</p>
				<p>Mei ex lobortis invenire appellantur, ea nec velit comprehensam, ei laboramus vituperata ullamcorper eos. Graeco repudiare iracundia no quo. Eos no justo iriure. Consectetuer necessitatibus nam eu, quo eu enim oratio verear. Et quot quando causae eum, id natum tollit dicunt eos. Ius ne prima viderer gloriatur.</p>
			</article>

{embed="includes/.sidecar"}    
{embed="includes/.footer"}