{embed="includes/.header"}
{embed="includes/.main_nav"}
{embed="includes/.breadcrumbs"}

			<article class="small-16 columns">
				<section>
					<h1>Career &amp; Benefits</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<ul>
						<li><a href="#">New Employees</a></li>
						<li><a href="#">Leave</a></li>
						<li><a href="#">Health Benefits</a></li>
						<li><a href="#">Learning &amp; Professional Development</a></li>
						<li><a href="#">Job Opportunities &amp; Internships</a></li>
						<li><a href="#">Dual Career Track</a></li>
						<li><a href="#">Awards &amp; Recognition</a></li>
					</ul>
				</section>
				
				<h3>Most Popular Information in Career &amp; Benefits</h3>
				
				<section>
					<h2><a href="#">Employee Assistance Program</a></h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</section>
				
				<section>
					<h2><a href="#">Open Enrollment Information</a></h2>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</section>
				
				<section>
					<h2><a href="#">Tennessee Retirement Benefits</a></h2>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</section>
				
				<section>
					<h2><a href="#">New Employee Orientation</a></h2>
					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</section>	
			</article>

{embed="includes/.sidecar"}
{embed="includes/.footer"}